---
import "/public/styles/global.css";
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Blog – Henris Bahnsteigende</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-white text-black font-sans leading-relaxed">

   <Header />

    <!-- Main -->
    <main class="px-6 py-10 max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-4">Sammlung *Abgebildetes*</h2>
      <p class="mb-8">
        Hier wird in naher Zukunft eine Übersicht meiner Fotos zu sehen sein. Geschichten zu Fotos, oder Bergbilder mit Tourenberichten werden eher im Reiter 
        <a href="/blog" class="text-gray-800 underline hover:text-black">Blog</a></h3> zu finden sein.
      </p>






      <div class="text-center mt-8">
        <a href="index.html" class="underline text-gray-800 hover:text-black">Zur Startseite</a>
      </div>
    </main>

    <Footer />
  </body>
</html>
