    <header class="bg-black p-4 flex flex-col items-center">
      <h1 class="text-2xl text-white font-bold my-2">
        <a href="../../../index.html" class="text-white">Henris Bahnsteigende</a>
      </h1>
      <nav>
        <ul class="flex flex-wrap gap-6 justify-center text-sm font-semibold">
          <li><a href="../../blogauto.html" class="relative group">Blog
            <span class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black group-hover:w-full transition-all duration-300 origin-left"></span>
          </a></li>
          <li><a href="../../schreib-portfolio.html" class="relative group">Text-Sammlung
            <span class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black group-hover:w-full transition-all duration-300 origin-left"></span>
          </a></li>
          <li><a href="../../fotos.html" class="relative group">Foto-Sammlung
            <span class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black group-hover:w-full transition-all duration-300 origin-left"></span>
          </a></li>
          <li><a href="../../uebermich.html" class="relative group">Über mich
            <span class="absolute left-0 -bottom-1 h-0.5 w-0 bg-black group-hover:w-full transition-all duration-300 origin-left"></span>
          </a></li>
        </ul>
      </nav>
    </header>
