@import "tailwindcss";
a {
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: #005fa3;
}

p {
  margin-bottom: 0.5rem; /* statt nur 1rem oder was Astro standardmäßig nutzt */
}